<html>

<body>

    <center>

        <h1> The Server Operating System : {{ ansible_distribution }} </h1>
        <br>

        <h1> The Operating system : {{ ansible_hostname }} </h1>

        <h1> The Server Username : {{ myusername }} </h1>
        <br>
    </center>
</body>
</html>